<footer class="footer py-44 py-lg-7 bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 class="fw-700 fs-20 mb-4">Dealer Company Name</h4>

				<div class="accordion d-block d-md-none" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h4 class="fw-700 fs-20">Модельный ряд</h4>
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<nav>
									<ul class="list-unstyled">
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<h4 class="fw-700 fs-20">Покупателям</h4>
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<nav>
									<ul class="list-unstyled">
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Автомобили в наличии</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Акции и предложения</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Кредит</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Трейд-ин</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Страхование</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button px-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<h4 class="fw-700 fs-20">Владельцам</h4>
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<nav>
									<ul class="list-unstyled">
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Сервисное обслуживание</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Запасные части</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Гарантийный ремонт</a></li>
										<li class="mb-1"><a href="#" class="text-decoration-none text-white">Запись на сервис</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<div class="mb-1">Отдел продаж</div>
				<a href="tel:+79876543210" class="fw-700 fs-20 text-decoration-none text-white d-inline-block mb-3">+7 (987) 654 32 10</a>
				<div class="mb-1">Отдел сервиса</div>
				<a href="tel:+79876543211" class="fw-700 fs-20 text-decoration-none text-white d-inline-block mb-3">+7 (987) 654 32 11</a>
				<div class="mb-1">Мы в соцсетях</div>
				<div class="d-flex gap-3">
					<a href="#">
						<svg class="text-white" width="24" height="24">
							<use xlink:href="#ico-tg"></use>
						</svg>
					</a>
					<a href="#">
						<svg class="text-white" width="24" height="24">
							<use xlink:href="#ico-vk"></use>
						</svg>
					</a>
					<a href="#">
						<svg class="text-white" width="24" height="24">
							<use xlink:href="#ico-youtube"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="d-none d-md-block col-md-3">
				<h4 class="fw-700 fs-20 mb-4">Модельный ряд</h4>
				<nav>
					<ul class="list-unstyled">
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Название модели</a></li>
					</ul>
				</nav>
			</div>
			<div class="d-none d-md-block col-md-3">
				<h4 class="fw-700 fs-20 mb-4">Покупателям</h4>
				<nav>
					<ul class="list-unstyled">
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Автомобили в наличии</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Акции и предложения</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Кредит</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Трейд-ин</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Страхование</a></li>
					</ul>
				</nav>
			</div>
			<div class="d-none d-md-block col-md-3">
				<h4 class="fw-700 fs-20 mb-4">Владельцам</h4>
				<nav>
					<ul class="list-unstyled">
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Сервисное обслуживание</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Запасные части</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Гарантийный ремонт</a></li>
						<li class="mb-1"><a href="#" class="text-decoration-none text-white">Запись на сервис</a></li>
					</ul>
				</nav>
			</div>

		</div>
		<div class="row mt-44 mt-lg-7">
			<div class="col-md-3">
				<div class="text-secondary">© 2023 Dealer Company Name</div>
			</div>
			<div class="col-md-3">
				<a href="#" class="text-decoration-none text-white">Название модели</a>
			</div>
			<div class="col-md-6">
				<div class="text-secondary text-end">Сделано в <span class="text-white">Perx</span></div>
			</div>
		</div>
	</div>
</footer>
