.edge  {

	&__slide {
		display: block;
		color: $dark;
		text-decoration: none;
		border: 2px solid #e6e4e4;
		border-radius: 18px;
	}

	&__body {
		min-height: 200px;
	}

	&__img {
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
	}
}
