@font-face {
	font-weight: 300;
	font-family: "proximanova";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova-light.otf");
}
@font-face {
	font-weight: 400;
	font-family: "proximanova";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova.ttf");
}
@font-face {
	font-weight: 700;
	font-family: "proximanova";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova-bold.otf");
}
