.hero {
	height: calc(100vh - $header-height);

	&__slider {

		> .swiper-pagination {

			@include media-breakpoint-up(lg) {
				bottom: 54px !important;
				left: calc((100vw - 1272px) / 2) !important;
				justify-content: flex-start;
				text-align: left;
			}

			bottom: 28px !important;
		}
	}

	&__slide {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: inherit;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__wrapper {
		max-width: 400px;
	}
}
